<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>to add new</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form method="post" action="/posts">
        <input type="text" placeholder="username" name="username">
        <textarea name="content" name="content"></textarea>
        <button>submit</button>
    </form>
</body>
</html>